<h1>Cocktails</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail), @cocktail.image_url %></li>
  <% end %>
</ul>

  <li><%= link_to "New cocktail", new_cocktail_path %></li>
