<div class="container mt-4">
  <div class="cards">
    <% @cocktail.ingredients.each do |ingredient| %>
      <%= render 'ingredients/ingredient', ingredient: ingredient %>
    <% end %>

    <%= link_to new_cocktail_ingredient_path(@cocktail), class: "card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://turbigo-gourmandises.fr/wp-content/uploads/2017/06/mojit-algues.jpg)" do %>
        Add an ingredient
    <% end %>
  </div>
</div>
