<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= ingredient.image_url %>)">
  <%= ingredient.name %>
  <%= link_to 'cut', ingredient_path(ingredient), method: :delete, class: 'delete-button' %>
</div>
